#footer{
    background-color: #e0e0e0;
    width: 100%;
    height: 100px;
    margin-top: 1%;
}

#footerMent{
    padding-top: 1.5%;
    margin-left: 2%;
}

#footerMent span{
    font-size: 0.9em;
}

#footer h6{
    float: right;
    margin-right: 2%;
}
