ul, li{list-style: none;}
a{text-decoration: none;}
#navbar{
    width: 60%;
    height: 50px;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #F4F3F3;
    z-index: 100;
}

#navbar > ul{
    width: 100%;
    line-height: 50px;
}

#navbar > ul li{
    float: left;
    width: 16%;
    text-align: center;
}
#navbar > ul li a{
    color: #555;
    text-align: center;
}