ul, li{list-style: none;}
a{text-decoration: none;}

#navbar{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    margin-top: -1%;
    background-color: #F4F3F3;
    border-radius: 2%;
}

#navbar > ul{
    width: 60%;
    line-height: 50px;
    margin: 0 auto;
}

#navbar > ul li{
    float: left;
    width: 16%;
    text-align: center;
}
#navbar > ul li a{
    color: #555;
    text-align: center;
}

#navbar button{
    padding: 5px;
    font-size: 0.8em;
    margin-top: 0.35%;
    cursor: pointer;
}